body {
    overflow-y: scroll;
    font-family: "Montserrat";
}

/** Changes to bootstrap**/
.navbar-brand>img {
    max-height:20px;
    display:inline-block;
    margin-top: -6px;
}
ol.breadcrumb {
    display: inline-block;
}
ul.pagination {
    margin: 5px 0;
}
.checkbox, .radio {
    margin-top: 7px;
    margin-bottom: 6px;
}
.table > tbody > tr > td {
    vertical-align: middle;
}
footer.footer {
    color:#CCCCCC;
    width: 100%;
    font-size: 0.8em;
}
table tr.bg-primary th a {
    color: #ffffff;
}
select option:disabled {
    color: #CCCCCC;
}
.navbar-default {
    background-color: #000000;
    border:none;
}

/** Ynov Pink **/
.panel-primary>.panel-heading, .radio-primary input[type="radio"]:checked + label::after, .btn-danger,.checkbox-primary input[type="checkbox"]:checked + label::before, .checkbox-primary input[type="radio"]:checked + label::before {
    background-color: #ec4363;
}
.panel-primary, .panel-primary>.panel-heading, .radio-primary input[type="radio"]:checked + label::before, .btn-danger,.checkbox-primary input[type="checkbox"]:checked + label::before, .checkbox-primary input[type="radio"]:checked + label::before {
    border-color: #ec4363;
}
a {
    color: #ec4363;
}
a:focus {
    outline-color: #ec4363;
}
.form-control:focus, .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus, input[type=file]:focus, input[type=checkbox]:focus, input[type=radio]:focus,.checkbox input[type="checkbox"]:focus + label::before, .checkbox input[type="radio"]:focus + label::before, .radio input[type="radio"]:focus + label::before {
    outline: none;
    border-color: #ec4363;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(255,44,93,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(255,44,93,.6);
}


/** Ynov Pink hover **/
a:focus, a:hover {
    color: #c31d44;
}
.btn-danger.active, .btn-danger.focus, .btn-danger:active, .btn-danger:focus, .btn-danger:hover, .open>.dropdown-toggle.btn-danger {
    border-color: #c31d44;
}
.btn-danger.active, .btn-danger.focus, .btn-danger:active, .btn-danger:focus, .btn-danger:hover, .open>.dropdown-toggle.btn-danger {
    background-color: #c31d44;
}

/** Ynov Sea green **/
.btn-success {
    background-color: #2dc89b;
}
.btn-success {
    border-color: #2dc89b;
}

/** Ynov Sea green hover **/
.btn-success.active, .btn-success.focus, .btn-success:active, .btn-success:focus, .btn-success:hover, .open>.dropdown-toggle.btn-success {
    background-color: #009568;
}
.btn-success.active, .btn-success.focus, .btn-success:active, .btn-success:focus, .btn-success:hover, .open>.dropdown-toggle.btn-success {
    border-color: #009568;
}

/** Ynov Sea green light **/
.bg-success, .table>tbody>tr.success>td, .table>tbody>tr.success>th, .table>tbody>tr>td.success, .table>tbody>tr>th.success, .table>tfoot>tr.success>td, .table>tfoot>tr.success>th, .table>tfoot>tr>td.success, .table>tfoot>tr>th.success, .table>thead>tr.success>td, .table>thead>tr.success>th, .table>thead>tr>td.success, .table>thead>tr>th.success {
    background-color: #E0FFFF;
}

/** New classes **/
.delete-on-click:hover, .delete-on-click:active {
    background-color:#CCCCCC !important;
    text-decoration: line-through !important;
}
.authz-list .label {
    font-weight: normal;
    margin-left: 5px;
}
.add_authz {
    margin-top: 15px;
}
.add_authz .form-group {
    margin-bottom: 5px;
}
.topbutton_form {
    max-width: 300px;
}
.topbuttons>div, .topbuttons>form {
    display:inline-block;
    vertical-align:top;
    margin-left: 10px;
}
.form-control[readonly], .form-control[disabled] {
    background-color: #DDDDDD;
    cursor: not-allowed;
}

/** Change awesome-bootstrap-checkbox to work with glyphicons **/
.checkbox input[type=checkbox]:checked + label:after {
    font-family: 'Glyphicons Halflings';
    content: "\e013";
}

.checkbox label:after {
    padding-left: 4px;
    padding-top: 2px;
    font-size: 9px;
}

.navbar-collapse.collapse ul.nav li p.navbar-text, .navbar-collapse.collapse ul.nav li p.navbar-btn {
    text-align: center;
}

#sort tbody tr {
    cursor:move;
}

.current_image {
    max-width:100%;
    padding-left: 15px;
}

/** Freewall **/

.item {
    width:inherit;
    height:200%;
    padding:0;
    margin:0;
    overflow: hidden;
    cursor: pointer;
    font-size: 12px;
}

.item-title {
    padding: 12px;
    text-align: left;
    position: absolute;
    bottom: 0;
    font-size: 1.5em;
    width: 100%;
}

.item-overlay {
    padding: 12px;
    top: 140px;

    bottom: -140px;
    font-size: 1.2em;
    position: absolute;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
}

.item-content {
    text-align: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
}

.element1x1 {
    width: 140px;
    height: 140px;
}
.element1x2 {
    width: 285px;
    height: 140px;
}

.element2x2 {
    height: 285px;
    width: 285px;
}

.item-icon {
    position: absolute;
    top: 32px;
    margin: 0 auto;
    width: 100%;
}

.element2x2 .item-icon {
    top: 104.5px;
    left: 0;
}

.preview .item {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.preview .panel-body {
    height: 751px;
}
.element2x2 .item-overlay {
    top: 285px;
    bottom: -285px;
}
.item:hover .item-content {
    transform: translateY(-100%);
}
.item:hover .item-overlay{
    transform: translateY(-100%);
}

.btn-wrapper {
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.btn-wrapper .btn {
    min-width:170px;
    margin-bottom: 10px;
    margin-right: 10px;
    align-self: center;
}


@media (min-width: 768px) {
    .ynov-header .nav {
        margin-top:2em;
        margin-bottom: 2em
    }
}


.navbar-brand {
    font-size: 1em;
    padding: 0
}

.brand-logo {
    height: 80px;
    line-height: 42px;
    vertical-align: middle;
}

.navbar-brand {
    margin-bottom:20px;
}

.navbar-nav>li>a {
    height: 80px;
    line-height: 80px;
    padding-top: 0;
    margin: 0
}

#login h3.action-header {
    margin-bottom: 1.5em;
}

#login .btn-primary {
    color: #fff;

    background-color: #ec4363;
    border-color: #ff1546;
}

#login .btn-primary:hover {
    color: #fff;
    background-color: #fa0035;
    border-color: #d6002d;
}

.footer {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 30px;
    background-color: transparent;
    color: #ec4363;
}

.list-inline>li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

.footer a {
    color: #ec4363;
    font-size:14px;
    text-transform: uppercase;
}

.navbar-default .navbar-nav>li>a, .btn-default, .dropdown-menu > li > a {
    color: #ffffff;
    font-size:14px;
}

.navbar-default .navbar-nav>li>a:hover {
    text-decoration: underline;
    color: #ec4363;
}

.fat-finger {
    min-width: 1.5em;
    vertical-align: middle;
}
.nav-action {
    margin-right: 1.5em;
    padding-top: .25em;
    float: right;
}

.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit
}

.h1 .small,.h1 small,.h2 .small,.h2 small,.h3 .small,.h3 small,.h4 .small,.h4 small,.h5 .small,.h5 small,.h6 .small,.h6 small,h1 .small,h1 small,h2 .small,h2 small,h3 .small,h3 small,h4 .small,h4 small,h5 .small,h5 small,h6 .small,h6 small {
    font-weight: 400;
    line-height: 1;
    color: #777
}

.h1,.h2,.h3,h1,h2,h3 {
    margin-top: 20px;
    margin-bottom: 10px
}

.h1 .small,.h1 small,.h2 .small,.h2 small,.h3 .small,.h3 small,h1 .small,h1 small,h2 .small,h2 small,h3 .small,h3 small {
    font-size: 65%
}

.h4,.h5,.h6,h4,h5,h6 {
    margin-top: 10px;
    margin-bottom: 10px
}

.h4 .small,.h4 small,.h5 .small,.h5 small,.h6 .small,.h6 small,h4 .small,h4 small,h5 .small,h5 small,h6 .small,h6 small {
    font-size: 75%
}

.h1,h1 {
    font-size: 36px
}

.h2,h2 {
    font-size: 30px
}

.h3,h3 {
    font-size: 24px
}

.h4,h4 {
    font-size: 18px
}

.h5,h5 {
    font-size: 14px
}

.h6,h6 {
    font-size: 12px
}

p {
    margin: 0 0 10px
}

.legals {
        color:rgb(51, 51, 51);

}

@media (max-width:425px) {
    .nav-action{
        margin-right:0;
    }
}

.custom-colorpicker button {
    padding: 16px 19px;
}

.cc_container .cc_btn, .cc_container .cc_btn {
    background-color: #ec4363 !important;
    color:#000000 !important;
}

.modal-campaign {
    font-size: 16px;
}

.modal-campaign .modal-content {
    border-radius: 0;
}

.modal-campaign .modal-title {
    font-size: 22px;
}

.modal-campaign .modal-footer {
    border-top:none;
}

.modal-campaign .modal-footer button {
    border-radius: 0;
}

.navbar-right .dropdown-menu {
    top: 50px;
    left: 15px;
}

@media (min-width: 768px){
    .navbar-right .dropdown-menu {
        left: 15px;
    }
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    background-color:transparent;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color:#ec4363;
    }
}

/* cookie bar */
.cookiebar{
    background: rgba(0, 0, 0, 0.6);
    color: #FFFFFF;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0px;
    margin: 0px;
    width: 100%;
    z-index: 10;
}


.ce-alert {
    position: relative;
    display: block;
    width: 100%;
    margin: 0 auto 30px;
    padding: 15px 20px;
    border-radius: 4px;
    text-align: center;
    background: #ec4363;
    color : black;
    background-image: repeating-linear-gradient(30deg, rgba(236, 67, 99, .05), rgba(236, 67, 99, .05) 10px, transparent 0, transparent 20px);
}

.ce-alert p {
    padding: 0;
    color: white;
}

.ce-alert i {
    float:left;
    font-size: 6.5em;
}